@model Human_Resources_Management.ENTITIES.Entities.Person


@{
    ViewData["Title"] = "PersonelEdit";
    Layout = "_LayoutManager";
}

<body style="background-color: #f2edf3">
    <br />
    <h1 style="text-align: center; font-family: Consolas; font-weight: bolder; color: #478ba2;">PERSONEL DÜZENLE</h1>
    <hr />

    <br />
    <br />
    <div class="justify-content-md-center "  >

        <form enctype="multipart/form-data" asp-action="PersonelEdit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class="row ml-auto container " style="margin-left:15%; margin-right:15%; padding:3%">

                <div class="col-lg-6 col-md-6 col-sm-12 " >
                    <div class="form-group">
                        <label asp-for="FirstName" class="control-label"></label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LastName" class="control-label"></label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="DepartmansEnum" class="control-label"></label>
                        <input asp-for="DepartmansEnum" class="form-control" />
                        <span asp-validation-for="DepartmansEnum" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Job" class="control-label"></label>
                        <input asp-for="Job" class="form-control" />
                        <span asp-validation-for="Job" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="HireDate" class="control-label"></label>
                        <input asp-for="HireDate" class="form-control" />
                        <span asp-validation-for="HireDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LeaveJobDate" class="control-label"></label>
                        <input asp-for="LeaveJobDate" class="form-control" />
                        <span asp-validation-for="LeaveJobDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 ">
                    <div class="form-group">
                        <label asp-for="BirthDate" class="control-label"></label>
                        <input asp-for="BirthDate" class="form-control" />
                        <span asp-validation-for="BirthDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Address" class="control-label"></label>
                        <textarea asp-for="Address" class="form-control"></textarea>
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Mail" class="control-label"></label>
                        <input asp-for="Mail" class="form-control" />
                        <span asp-validation-for="Mail" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="hidden" asp-for="ReportsTo" class="control-label" />
                    </div>
                    <div class="form-group">
                        <label asp-for="PersonelPhoneNumber" class="control-label"></label>
                        <input asp-for="PersonelPhoneNumber" type="text" maxlength="14" class="phone form-control" placeholder="(555) 555-5555" />
                        <span asp-validation-for="PersonelPhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CompanyPhoneNumber" class="control-label"></label>
                        <input asp-for="CompanyPhoneNumber" type="text" maxlength="14" class="phone form-control" placeholder="(212) 222-2222" />
                        <span asp-validation-for="CompanyPhoneNumber" class="text-danger"></span>
                    </div>
                    @*<div class="form-group">
                    <label asp-for="RoleEnum" class="control-label"></label>
                    <input asp-for="RoleEnum" class="form-control" />
                    <span asp-validation-for="RoleEnum" class="text-danger"></span>
                </div>*@
                    <div class="form-group">
                        <label asp-for="Salary" class="control-label"></label>
                        <input asp-format="{0:n2}" asp-for="Salary" class="form-control" />
                        <span asp-validation-for="Salary" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Photo" class="control-label"></label>
                        <input asp-for="Photo" type="file" accept=" image/png,image/jpeg" class="form-control" />
                        <span asp-validation-for="Photo" class="text-danger"></span>
                    </div>
                    @*<div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                    </label>
                </div>*@


                </div>
            </div>

            <div class="form-group my-5" style="margin:auto; width: 25%;">

                @if (ViewBag.DateValid != null)
                {
                    <p class="text-danger">@ViewBag.DateValid</p>
                }
                <input style="color: white; background-color: #478ba2; border-radius: 40px; width: 100%; " type="submit" value="Kaydet" class="btn " />

                <a class="btn mt-2" style="background-color: #478ba2; border-radius: 40px; width: 100%; color: white;" asp-action="GetAllPersonel" asp-controller="Manager" asp-route-id="@Context.User.FindFirst("ID").Value.ToString()">Geri Dön</a>
            </div>

        </form>

    </div>



    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</body>






