<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
  <!--
  <system.webServer>
    <handlers>
      <remove name="aspNetCore"/>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
  </system.webServer>
  -->
	<appSettings>
		<add key="ToEmail" value="enter mail id"/>
		<add key="UserID" value="enter mail id"/>
		<add key="Password" value="password"/>
		<add key="SMTPPort" value="587"/>
		<add key="Host" value="smtp.gmail.com"/>
	</appSettings>

</configuration>